{% extends 'base.html.twig' %}

{% block body %}
    Professor - List Registrations


        {% for registration in app.user.getOwnedRegistrations %}
        {{ registration.getOwner.getUsername }}
        {{ registration.getDateEnd }}
        {{ registration.getDateCreated }}
        {{ registration.getDateDeleted }}
        {{ registration.getDateStart }}
        {{ registration.getDateEnd }}
        {{ registration.getSignupCode }}
        <a href="/professor/registrations/edit/{{ registration.getId }}">edit</a>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>

            {% for user in registration.users %}
            <tr>
                <td>{{ user.getUsername }}</td>
                <td>{{ user.getEmail }}</td>
                <td>{{ user.getDateStart }}</td>
                <td>{{ user.getDateEnd }}</td>
            </tr>


            {% endfor %}
            </table>
        {% endfor %}


{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}