<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ asset('css/Site.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="starter-template.css" rel="stylesheet">-->
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">CLSP</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_registration') }}">Register</a>
            </li>
            {% endif %}
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.getUsername }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('accountIndex') }}">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                </div>
            </li>
        </ul>
        {% endif %}
    </span>
    </div>
</nav>

<div class="container">

    {% block body %}{% endblock %}

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('assets/vendor/jquery/dist/jquery.slim.js') }}"></script>
<script>window.jQuery || document.write('<script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"><\/script>')</script>
<script src="{{ asset('assets/vendor/tether/dist/js/tether.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
