{% extends 'base.html.twig' %}

{% block title %}Account  Info{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Account Information</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Username</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.getUsername }}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.getEmail }}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Creation Date</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.getDateCreated | date('Y-m-d g:ia', app.user.getTimezone)}}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Start Date</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.getDateStart | date('Y-m-d g:ia', app.user.getTimezone) }}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">End Date</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.getDateEnd | date('Y-m-d g:ia', app.user.getTimezone)}}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Timezone</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.getTimezone }}" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Roles</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" value="{% for role in app.user.getRoles%}{{ role }}{% if not loop.last %},{% endif %}{% endfor %}" readonly>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}